<?xml version="1.0"?>

<model>
    <name>blackline</name>
    <version>1.0</version>
    <sdf version='1.4'>model3.sdf</sdf>

    <author>
        <name>kim sangkyeong</name>
        <email>madlogic365@gmail.com</email>
    </author>

    <description>
        Autostore blackline robot model
    </description>
</model>